@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

button{
    border: none;
    cursor: pointer;
}